
*{ 
    font-family: 'Kanit', sans-serif;
    color: #3CD34C; 
    list-style-type: square;
 }

p{ color: #3CD34C; }
h1 {
    text-align: center;
    color: #FFFCFF
   }
body { background-color: #222222;}